/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}











/* ELEMENTI PAGINA */

/* HEADER */

nav {
   background-color: #0084fd; 
}

#logo {
    margin: 1rem 2rem;
}

nav i {
    color: white;
    font-size: 2rem;
    margin: 1rem 2rem;
}

/* MAIN */

/* prima section */

.container {
    margin: 0 2rem ;
}

.big-box {
    height: 608px;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    background-color: #b5ddff;
    border-radius: 20px;
}

.small-box {
    height: 362px;
    margin-bottom: 1.5rem;
    background-color: #b5ddff;
    border-radius: 20px;
}

#first-section {
    padding-bottom: 3.5rem;
}

/* section strategic plan */

#strategic-plan {
    background-color: #9792e4;
    padding-bottom: 4rem;
}

#strategic-plan .box-img {
    height: 442px;
    border: 1px dashed black;
}

#strategic-plan .box-text {
    height: 255px;
    border: 1px dashed black;
}

#strategic-plan .box-white {
    height: 615px;
    border-radius: 50px;
    background-color: white;
}


/* section testimonials */

#testimonials {
    padding-bottom: 5rem;
}

#testimonials .box-text {
    height: 455px;
    border: 1px dashed black;
}

.box-testimonial {
    height: 500px;
    background-color: #9792e4;
    border-radius: 50px;
    margin-bottom: 2rem;
}

/* section benefits */

#benefits {
    background-color: #9792e4;
    padding-bottom: 2rem;
}

#benefits .title {
    height: 222px;
}

.box-benefit {
    height: 399px;
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: white;
}

/* about us section */
 
.box-lungo {
    height: 1597px;
}

/* section get started */
#get-started {
    background-color: #9792e4;
}

.card {
    height: 616px;
}

/* footer */

footer {
    background-color: #333333;
}

.box-footer {
    height: 235px;
}





/* MEDIA QUERY */