/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HELPERS */

/* flex */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}











/* ELEMENTI PAGINA */

/* HEADER */

nav {
   background-color: #0084fd; 
}

#logo {
    margin: 1rem 2rem;
}

nav i {
    color: white;
    font-size: 2rem;
    margin: 1rem 2rem;
}

/* MAIN */

/* prima section */

.big-box {
    height: 608px;
    margin: 3rem 2rem 1.5rem;
    background-color: #b5ddff;
    border-radius: 20px;
}

.small-box {
    height: 362px;
    margin: 0 2rem 1.5rem;
    background-color: #b5ddff;
    border-radius: 20px;
}

.first-section:last-child {
    margin-bottom: 5rem;
}

/* section strategic plan */










/* MEDIA QUERY */