/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLEX */

.flex { 
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}


/* text align center */

.text-center {
    text-align: center;
}



/* FONT SIZE */

.font-1_5 {
    font-size: 1.5rem;
}

.font-5 {
    font-size: 5rem;
}


/* PADDING */

.pa-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pa-y-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* MARGIN */

/* margin right */

.ma-rgt-2 { margin-right: 2rem; }

/* margin top */

.ma-top-3 { margin-top: 3rem; }


/* margin bottom */

.ma-btm-2 { margin-bottom: 2rem;}

.ma-btm-2_5 { margin-bottom: 2.5rem; }

.ma-btm-5 { margin-bottom: 5rem; }

